<%= stylesheet_pack_tag 'touring' %>

<div class="container">
  <div class="row">
    <div class="col-sm-3 container-square mt-1 chat-user-list">
      <h1>参加者一覧</h1>
      <div class="container-height">
        <ul>
        <% @users.each do |user|%>
          <% if user.avatar.present? %>
            <li class="user-list mt-1">
              <%= image_tag user.avatar, class: "avatar" %>
              <div class="user-list-name">
                <%= link_to user.name, user_path(user.id) %>
              </div>
            </li>
            <br>
          <% else %>
          <% end%>
        <% end %>
        <ul>
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-1 chat-square mt-1">
      <div id="chat-scroll">
        <div id="messages" data-event_id="<%= @event.id %>">
          <% unless @messages.blank? %>
            <%=render @messages %>
          <% end %>
        </div>
      </div>
      <div class="pt-3">
        <%= text_field_tag :content, nil, data: { behavior: 'room_speaker' }, class: 'form-control form-control-sm', :placeholder =>"メッセージを入力" %>
        <input type="hidden" id="current_user_id" value="<%= current_user.id %>">
      </div>
    </div>
  </div>
</div>

