<%= stylesheet_pack_tag 'touring' %>
<%= javascript_pack_tag "googlemap_api.js" %>

<div class="container">
  <div class="col-sm-6 col-sm-offset-3 center form-square">
    <h3>イベント編集</h3>
    <br>
    <%= form_with(url: event_path(@event), model: @event,local: true, method: :patch) do |f| %>
      <% if @event.errors.any? %>
        <div class="alert-danger">
          <% @event.errors.full_messages.each do |message| %>
          <div class="alert">
            <%= message %>
          </div>
          <% end %>
        </div>
      <% end %>
      <div class="field">
        <label for="title">イベント名</label>
        <br>
        <%= f.text_field :title ,:placeholder =>"イベント名を入力",class: 'form-control',value: @event.title %>
      </div>
      <div class="field">
        <label for="event_date">集合日時</label>
        <br>
        <% if @event.event_date.present? %>
          <%= f.datetime_local_field :event_date ,class: 'form-control', value: @event.event_date.strftime("%Y-%m-%dT%R") %>
        <% else %>
          <%= f.datetime_local_field :event_date ,class: 'form-control' %>
        <%end%>
      </div>
      <div class="field">
        <label for="comment">コメント</label>
        <br>
        <%= f.text_area :comment ,:placeholder =>"コメントを入力",class: 'form-control',value: @event.comment %>
      </div>
      <div class="field">
        <label for="recruting_count">募集人数</label>
        <br>
        <%= f.number_field :recruting_count ,class: 'form-control', min: 1, max: 10,value: @event.recruting_count %>
      </div>
      <div class="field">
        <label for="run_location">コース</label>
        <br>
        <%= f.text_field :run_location ,:placeholder =>"走る場所を入力",class: 'form-control',value: @event.run_location %>
      </div>
      <div class="field">
        <label for="meeting_place">集合場所</label>
        <br>
        <%= f.text_field :meeting_place ,id: "address",:placeholder =>"集合場所",class: 'form-control',value: @event.meeting_place %>
      </div>
      <div class="field">
        <p class="announce">集合場所が正しいか確認してください</p>
        <input type="button" class="btn btn-primary btn-sm" value="集合場所を検索" onclick="codeAddress()">
      </div>
      <div class="field">
        <br>
        <div id='map'>
          <div>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6QmAMgMd7MPlUEclBDzYQVIdyZxWkAwA&callback=codeAddress" async defer></script>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <br>
        <%= f.submit "編集する", class: 'btn btn-primary' %>
      </div>
    <% end %>
      <br>
      <%= link_to "ホーム画面に戻る", home_path %>
      <br>
      <%= link_to "削除する", event_path(@event.id), method: :delete, data: {confirm: "削除しますか？"}, class: "text-danger" %>
  </div>
</div>
